.popup__form-save {
    padding: 0;
    width: 100%;
    max-width: 358px;
    min-height: 50px;
    background: #000000;
    color: #ffffff;
    border: none;
    border-radius: 2px;
    margin-top: 48px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 121%;
    cursor: pointer;
  }

  .popup__form-save:hover {
    opacity: .8;
  }

  @media screen and (max-width: 530px) {
    .popup__form-save {
      margin-top: 45px;
      max-width: 238px;
      font-size: 14px;
    }
  }