.profile__edit-button {
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url(../../../images/profile_edit_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;
  background-color: #000;
  border: 1px solid #ffffff;
  margin-left: 18px;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 320px) {
  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
  }
  
}